<html>
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    
</head>
<body>

    {{!-- {{>header.hbs}} --}}

<h1>{{title}}</h1>
<p>Hey {{name}}, you are seeing an express application server.</p>
<form>
    <input placeholder="enter location">
    <button type="submit">Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
    <script src="/js/site.js"></script>

</body>
</html>